$dark-color:#091d27;
$primary-color:#133a4e;
$bg-color:#1d5875;
$secondary-color:#27759c;
$light2-color:#3092c3;
$light3-color:#52a8d3;
$light4-color:#79bcdd;
$light5-color:#a0cfe7;
$light6-color:#c7e3f1;
$light7-color:#eef6fa;
$text-color:#676363;
$td-color:#f2f2f2;
$main-color:#ffffff;
$footer-color:#2128320d;
$sucess-color:#29fc29;
$light-sucess-color:#a5f7a5 ;
$danger-color:#ff0000;
$yellow-color:#fbff00;
$orange-light-color:#FFD73A;
$orange-color:#FFA500;
$filter-bg-color:#ededed;
$placeholder-color:#a9a9a9;





