
  <!-- Patch Remarks Modal Start -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Please Insert Your Remark</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="patch-remarks">
                <textarea name="patch-remarks" id="patch-remarks"  placeholder="Enter Your Remark" autosize ></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="form-btn active-btn"
             data-bs-toggle="modal">
             <i class="fas fa-save"></i> Generate Patch </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Patch Remarks Modal end -->


