<div class="{{data.type}}" id="success_error_id">
    <div class="message">
        <i class="fas fa-exclamation-circle"></i>
        <!-- <i class="far fa-check-circle"></i> -->
        <i class="fas fa-file-import"></i>
        
    <!-- <h1>{{ data.type | uppercase }}!</h1> -->
<p>{{ data.message }}</p>
    </div>
    
<!-- <button mat-button (click)="onClose()" class="btn">Ok</button><br> -->
<button mat-button (click)="onOkClick()" class="btn">Ok</button><br>
<!-- <button mat-button (click)="onCancelClick()" class="btn">Cancel</button> -->

</div>


             